$color-palette: (
	body-color:						#ffffff,
	element-background-color:		#eeeeee,
	default-text-color: 			#8c8c8c,
	hyperlink-text-color: 			#518dfb,
	pure-white-color: 				#ffffff,
	pure-black-color: 				#000000,
	pure-blue-color:				#0000ff,
	menu-item-color: 				#656565,
	border-color: 					#bbb8b8,
	card-back-color: 				#0087cc,
	portal-to-top-hover-color:		#555555,
	cursor-arrow-peak-inactive:		#ff0000,
	cursor-arrow-peak-active:		#00ff00,
	loader-blue: 					#34adff,
	loader-orange: 					#f77500
);


