.index .highlight 
{
    background-color: #2a7bcf;
    color: #ffffff;
    padding: 1rem 1rem .5rem 1rem;
    margin-bottom: 1rem;
    border-bottom: #000000 3px solid;

    align-self: stretch;
    font-size: 2rem;
}
