body
{
    width:80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    background-image: url('../../images/background.jpg'); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height:100vh;
}