.index {
    .main-data {
        //width: max(80%, 800px);
    margin: 0 auto;
    text-align: center;
    background: pickup_color_pallete(body-color);
    border-left: 2px solid pickup_color_pallete(pure-black-color);
    border-right: 2px solid pickup_color_pallete(pure-black-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
@media only screen and (max-width: 799px) 
{
    /* for mobile */
    .index {
        .main-data {
            width: 100%;
        background-color: transparent;
        border: none;
        text-align: center;
        padding-top: 5rem;
        }
    }
}